<mat-card>
    <mat-grid-list style="margin-top: 15%;" cols="10">
        <mat-grid-tile colspan='10' rowspan='2'>
            <mat-radio-button (click) = "Platinium()">Platinium Rs 999/-</mat-radio-button>
        </mat-grid-tile>
        <mat-grid-tile colspan='10' rowspan='2'>
            <mat-radio-button  (click) = "Diamond()">Diamond Rs 1999/-</mat-radio-button>
        </mat-grid-tile>
    </mat-grid-list>
    <button style="margin-top: 10%;" class="save"> <b style="color: white;font-weight: 500;" (click)="payWithRazorpay(100)">Upgrade</b></button>
</mat-card>



